
body {
    margin: 0%;
    display: flex;
}

#main-container {
    width: 1024px;
    height: 150px ;
    margin: 0% auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(34, 78%, 91%);
}

#header {
width: 100%;
height: 150px;
background-color: antiquewhite;
}

#about-me-content {
    -ms-flex-direction: row;
    align-items: center;
}

h1 {
    color: burlywood;
    
}


